<div id="popup-confirmation" class="overlay"></div>

<div class="container users-container">
    <p class="users-container__title">Список пользователей</p>

    <div class="users-container__subtitle subtitle-search">
        <div class="user-container__search-container search-container">
            <input id="searchInput" class="search__input" type="text" value="" placeholder="Поиск"/>
            <i id="searchSign" class="fa fa-search search__image" aria-hidden="true"></i>
        </div>
    </div>

    <div id="loading">
        <div class="loading">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw loading-sign"></i>
        </div>
    </div>

    <div class="users-container-table">
        @Html.Action("UsersTable")
    </div>
</div>

<script>
    $('#searchSign').bind('click', function(e) {
        e.preventDefault();
        var searchString = $('#searchInput').val();

        $.ajax({
            url: '@Url.Action("UsersTable")',
            method: 'GET',
            data: { searchString: searchString },
            dataType: 'html',
            beforeSend: function () {
                setTimeout(Loading(true, '.users-container-table'), 10000);
            },
            complete: function () {
                Loading(false);
            },
            success: function (result) {
                $(".users-container-table").html(result);
            }
    });
    });

    function Loading(loading, updateSelector) {
        var selector = $(updateSelector || '.content');

        if (loading) {
            $(selector).html('');
            $('#loading').show();
        } else {
            $('#loading').hide();
        }
    };
</script>

