
.eventindex-participants {
    width: 100%;
    margin-top: 50px;
    padding: 0 6%;
}

.eventindex-participants .eventindex-participants__participants-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.eventindex-participants .eventindex-participants__participants-table td{
    height: 40px;
    width: 35%;
    vertical-align: middle;
}

.eventindex-participants .participants-table-item {
    display: inline-flex;
    margin: auto auto auto 10px;
    cursor: pointer;
}

.eventindex-participants .participants-table-item span {
    margin: auto;
}

.eventindex-participants .participants-table-item i {
    margin: auto auto auto 10px;
    font-size: 20px;
    color: #C8CEDA;
    visibility: hidden;
}

.eventindex-participants .participants-table-item:hover i {
    visibility: visible;
}

.eventindex-participants .participants-table-item:hover i:hover {
    color: #747B87;
}

.event-addparticipant-form {
    display: block;
    width: 100%;
}

.event-addparticipant {
    display: flex;
}

.event-addparticipant__input-email {
    margin: 0;
    height: 30px;
}

.event-addparticipant .join-button {
    margin: auto 0 auto 5px;
    padding-top: 15px;
    font-size: 24px;
    color: #C8CEDA;
    cursor: pointer;
}

.event-addparticipant .join-button:hover {
    color: #747B87;
}

.event-addparticipant .join-button:disabled  {
    color: #F5F6FB;
    cursor: default;
}

.event-addparticipant .event-addparticipants__errors {
    font-size: 11px;
    font-family: Arial;
    color: #656d7f;
}

.event-addparticipants__errors .error-box__signal {
    margin: 0;
}