@model SofthemeRoomBooking.Models.EventViewModel.EventParticipantViewModel

@using (Html.BeginForm("AddParticipant", "Event", FormMethod.Post, new {id = "event-addparticipant-form", @class = "event-addparticipant-form", enctype = "multipart/form-data"}))
{
    <div class="event-addparticipant">
        <div class="group-input-error">
            @Html.HiddenFor(model => model.IdEvent)
            @Html.SignalValidationMessageFor(model => model.Email, new {@class = "error-box__text-danger"})
            @Html.EditorFor(model => model.Email, new
            {
                htmlAttributes = new
                {
                    @class = "input-text event-input event-addparticipant__input-email",
                    placeholder = "Укажите e-mail, чтобы присоединиться"
                }
            })
        </div>
        <i id="addParticipant" class="fa fa-plus plus-icon join-button" aria-hidden="true"></i>
    </div>
    <div id="event-errors" class="event-addparticipants__errors hidden-error">
        <i aria-hidden="true" class="error-box__signal fa-exclamation-circle fa"></i>
        <span class="error-text"></span>
    </div>
}

@Scripts.Render("~/bundles/event-participants")