@model List<SofthemeRoomBooking.Models.EventViewModel.EventParticipantViewModel>

<p>Зарегистрированные участники:</p>
<table class="eventindex-participants__participants-table">
    @for(int i = 0; i < Model.Count; i++)
    {
        <tr>
            @for (int j = 0; j < 3; j++)
            {
                if (i == Model.Count - 1)
                {
                    break;
                }
                <td>
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <div class="participants-table-item" data-id="@Model[i].Id.ToString()">
                        <span>@Model[i].Email;</span>
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </div>
                </td>
                i++;
            }           
        </tr>
    }
</table>

@Scripts.Render("~/bundles/event-participants")