
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    @Styles.Render("~/Content/styles/users")
}
<div class="content user-list">
    <p class="content__title">Список пользователей</p>
    
    <div class="content__line user-list__line-header">
        <p class="user-list__total-users-num">Всего: <span>3</span></p>
        <div class="user-list__search content__search search">
            <input class="search__input" type="text" value="" />
            <i class="fa fa-search search__image" aria-hidden="true"></i>
        </div>
    </div>

    <table class="content__table user-list__table table">
        <tr class="table__row user-list__row">
            <td class="table__cell user-list__name">Олена Мазур</td>
            <td class="table__cell user-list__email">olena.mazur@softheme.com</td>
            <td class="table__cell user-list__events-num"><i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;23
                <i class="fa fa-times user-list__delete-row" aria-hidden="true"></i>
            </td>
            
        </tr>
        <tr class="table__row user-list__row">
            <td class="table__cell user-list__name">Александр Осадчий</td>
            <td class="table__cell user-list__email">olena.mazur@softheme.com</td>
            <td class="table__cell user-list__events-num">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;12
                <i class="fa fa-times user-list__delete-row" aria-hidden="true"></i>
            </td>
        </tr>
        <tr class="table__row user-list__row">
            <td class="table__cell user-list__name">Катя Лобода <div class="admin-elipse">admin</div></td>
            <td class="table__cell user-list__email">olena.mazur@softheme.com</td>
            <td class="table__cell user-list__events-num">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;3
                <i class="fa fa-times user-list__delete-row" aria-hidden="true"></i>
            </td>
        </tr>
    </table>

    <div class="user-list__pagination pagination">
        <span class="pagination__element"><a class="link user-list__link" href="">1</a></span>
        <span class="pagination__element">...</span>
        <span class="pagination__element"><a class="link  user-list__link" href="">5</a></span>
        <span class="pagination__element">...</span>
        <span class="pagination__element"><a class="link  user-list__link" href="">9</a></span>
    </div>
</div>

