.error-header {
    display: block;
    line-height: 1.1;
    font-weight: 500;
    color: #373a3c;
    text-align: center;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-tap-highlight-color: transparent;
}

.error-header-h1 {
    font-size: 36px;
}

.error-header-h2 {
    font-size: 32px;
}
.error-image {
    margin: 10px 0 0 50%;
}