.eventdetail{
    width: 300px;
    height: 120px;
    background: #ffffff;
    border: 1px solid #f95752
}
.eventdetail__title {
    width: auto;
    height: 35px;
    background: #f95752;
}

.eventdetail__main {
    height: 85px;
    width: auto;
}
.eventdetail__icons {
    margin: 10px 40px
}

.eventdetail__icons i {
    font-size: 25px;
    color: #a4aab9;
    margin: 10px 10px;
    display: inline-block;
    vertical-align: middle;
    background-position: center;
}
