html { min-height: 1000px; }

.content {
    display: block;
    height: 100%;
    padding-bottom: 14%;
    margin: 0 10%;
}

.content__feedback {
    padding: 0 40px;
}
.content__title {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 40px;
    font-family: Arial;
    font-size: 28px;
    color: #4A5158;
}

.content__cover {
    float: left;
    width: 50%;
}

.content__text {
    margin-bottom: 20px;
    font-family: Arial;
}

.feedback-form {
    display: inline-block;
    width: 50%;
}

.feedback-form__field-fname {
    width: 230px;
    margin: 5px;
    margin-right: 10px;
}

.feedback-form__field-sname {
    width: 280px;
    margin: 5px;
}

.feedback-form__field-email {
    width: 520px;
    margin: 5px;
}

.feedback-form__field-message {
    display: block;
    width: 520px;
    height: 180px;
    margin: 5px;
}

.feedback-form__submit {
    display: inline-block;
    width: 160px;
    margin: 20px 210px;
}

