body {
    font-size: 14px;
    background-color: #f4f6fb;
}

.compl-background {
    position: absolute;
    right: 0;
    top: calc((100% - 600px) / 2);
    width: 1180px;
    height: 600px;
    -ms-background-size: cover;
    background-size: cover;
    background: url(../../Content/Images/Login/Login.png) no-repeat;
}

.compl-background__form {
    position: absolute !important;
    top: 210px;
    right: 310px;
}


.button {
    width: 150px;
    height: 36px;
    border-radius: 17px;
    border: none;
    background-color: #c8cdd9;
    color: #e9ebf0;
    outline: none;
}

.button:hover {
    color: white;
    background-color: #f95752;
}

.button-active {
    color: white;
    background-color: #f95752;
}


.form {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 310px;
    height: 260px;
}

.form__label {
    margin-bottom: 75px;
    font-size: 25px;
    color: white;
}

.form__big-error {
    position: relative;
    top: -10px;
    width: 100%;
    justify-content: center;
    font-size: 18px;
}

.form__text-input {
    width: 300px;
    margin: 5px;
}

.form__text-input-last {
    margin-bottom: 15px;
}

.form__text-input::-webkit-input-placeholder {
    color: #c7c8cb;
}

.form__text-input::-moz-placeholder {
    color: #c7c8cb;
}

.form__text-input:-moz-placeholder {
    color: #c7c8cb;
}

.form__text-input:-ms-input-placeholder {
    color: #c7c8cb;
}

.form__text-input:focus::-webkit-input-placeholder {
    color: transparent;
}

.form__text-input:focus::-moz-placeholder {
    color: transparent;
}

.form__text-input:focus:-moz-placeholder {
    color: transparent;
}

.form__text-input:focus:-ms-input-placeholder {
    color: transparent;
}

.form__button {
    display: table;
    margin: 0 auto;
}

.form__success {
    text-align: center;
}

.form__text {
    color: #656d7f;
    text-align: center;
    padding: 0 0 22px 0;
    margin: 0;
}

.form__row {
    width: 100%;
}

.left-menu {
    position: absolute;
    right: 1060px;
    top: calc(50% - 220px / 2 + 15px);
    height: 220px;
}

.left-menu__header {
    position: relative;
    width: 165px;
    height: 35px;
    margin-bottom: 45px;
    background-size: contain;
}

.left-menu__list {
    list-style: none;
    padding-left: 0;
}

.left-menu__options {
    padding-bottom: 25px;
}

.left-menu__options-chosen {
    font-weight: bold;
}

.left-menu__link {
    color: #b0b6c8;
}

    .left-menu__link:hover {
        border-color: #b0b6c8;
    }

.link {
    text-decoration: none;
}

    .link:hover {
        border-bottom: 1px solid;
    }


.logo {
    background: url(../../Content/Images/Login/logo.png) no-repeat;
}
