.roombooking {
    width: 500px;
    background: #ffffff;
    height: 520px;
    border: 1px solid #9fa6b6;
}
.roombooking__title {
    margin: 0;
    padding: 5px 10px;
    height: 60px;
    width: auto;
    background: #9fa6b6;
}
.roombooking__title i {
    color: white;
     font-size: 2em;
}
.roombooking__close {
    float: right;
}
.roombooking__title-name {
    color: white; margin-left: 10px; font-size: 16pt;
}
.roombooking__date {
    margin: 20px 15px;
    position: relative
}
.roombooking__date div{
    margin: 20px 15px;
}

.roombooking__plus-day {
    position: absolute; top: -36px; left: 55px;
}
.roombooking__minus-day {
    position: absolute; top: -5px; left: 55px;
}
.roombooking__plus-month {
    position: absolute; top: -36px; left: 100px;
}
.roombooking__minus-month {
    position: absolute; top: -5px; left: 100px;
}
.roombooking__plus-start-hour {
    position: absolute; top: -36px; left: 160px;
}
.roombooking__minus-start-hour {
    position: absolute; top: -5px; left: 160px;
}
.roombooking__plus-start-minute {
    position: absolute; top: -36px; left: 185px;
}
.roombooking__minus-start-minute {
    position: absolute; top: -5px; left: 185px;
}
.roombooking__plus-finish-hour {
    position: absolute; top: -36px; left: 210px;
}
.roombooking__minus-finish-hour {
    position: absolute; top: -5px; left: 210px;
}
.roombooking__plus-finish-minute {
    position: absolute; top: -36px; left: 235px;
}
.roombooking__minus-finish-minute {
    position: absolute; top: -5px; left: 235px;
}
.roombooking__dropdown-block {
    margin: 20px 15px;
}

.roombooking__dropdown {
    margin-left: 10px;
    width: 200px;
    border-radius: 20px;
    height: 20px;
    border: 1px solid #ebeef7;
    outline: none;
}
.roombooking__input-title-block {
    margin: 20px 15px;
}
.roombooking__input-title {
    width: 470px;
    height: 30px;
    background: #ffffff;
    border: 1px solid #ebeef7;
}

.roombooking__input-addinfo {
    width: 470px;
    height: 100px;
    border: 1px solid #ebeef7;
    background: #ffffff;
    padding: 12px 20px;
    display: block;
    border-radius: 20px;
    color: #A6ABB6;
    font-size: 16px;
    resize: none;
    outline: none;
}
.roombooking__organizator {
    margin: 20px 15px;
}

.roombooking-submit {
    background-color: #c8ceda;
    padding: 10px 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

.roombooking__organizator-name {
    background: #ffffff;
    border: 1px solid #ebeef7
}

.roombooking__publicity{
    margin: 20px 15px;
    width: auto;
    display: flex;
}
.roombooking__day-label {
    position: absolute;
     top: -19px;
     left: 50px;
}
.roombooking__month-label {
    position: absolute;
     top: -19px;
      left: 90px;
}

.roombooking__start-hour-label {
    position: absolute;
    top: -19px; 
    left: 155px
}
.roombooking__start-minute-label {
    position: absolute;
    top: -19px;
    left: 180px
}
.roombooking__end-hour-label {
    position: absolute;
    top: -19px; 
    left: 205px
}
.roombooking__end-minute-label {
    position: absolute;
    top: -19px;
    left: 230px
}
.roombooking__checkbox {
    margin: 0;
}
.roombooking__organizator {
    margin: 20px 15px;
}
.roombooking__private-label {
    margin: 5px 19px;
}
.roombooking__submit {
    margin: 5px 19px;
    float: right;
}
input[type=checkbox] {
    background-color: #ffffff;
    width: 20px;
    height: 20px;
}