 .room {
    margin-top: 7px;
    background: #ebeef7;
    height: 520px;
    width: auto;
    font-family: Arial;
    font-size: 12pt;
}
.room__number {
    position: absolute;
    top: 63px;
    left: 458px;
    font-size: 36px;
    color: #81868d;
}
.room__general {
    cursor: pointer;
}
.text {
    border-radius: 10px;
}
.room__path {
    z-index: 3;
    pointer-events: none;
}

.room__arrow {
    pointer-events: none;
    z-index: 6;
    top: 80px;
}
.room__open {
    position: absolute;
    top: 40px;
    right: 2px;
    text-align: center;
    padding: 8px 10px;
    font-size: 14px;
    background: #747b87;
}
.room__change {
    position: absolute;
    top: 85px;
    right: 2px;
    text-align: center;
    padding: 8px 10px;
    font-size: 14px;
    background: #c8ceda;
    color: #555c63;
}
.room__close {
    position: absolute;
    top: 40px;
    right: 2px;
    text-align: center;
    padding: 8px 10px;
    font-size: 14px;
    background: #747b87;
}
.room__image {
    z-index: 5;
    width: 1021px;
    height: 494px;
    padding-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.room__equipment {
    z-index: 2;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 450px;
}
.room__equipmentadmin {
    z-index: 2;
    position: absolute;
    bottom: -20px;
    right: 275px;
}
.room-1 {
    z-index: -1;
    padding: 30px;
    position: absolute;
    bottom: 245px;
    right: 423px;
    background: #9fa6b6;
    height: 101px;
    width: 187px;
}
.room__text-1 {
    color: white;
    text-align: center;
    background: #858c9a;
    padding: 4px;
    width: 50%;
    margin: 0 auto;
    width: 100px;
    height: 43px;
}
.room__arrow-1 {
    width: 54px;
    height: 213px;
    position: absolute;
    display: none;
    background-image: url(../../Content/Images/Equipment/LineDetails/line-details-einstein.png);
}


.room__path-1 {
    position: absolute;
    bottom: 30px;
    left: 23px;
    display: none;
}
.room-2 {
    z-index: -1;
    padding: 22px;
    position: absolute;
    bottom: 107px;
    right: 519px;
    background: #9fa6b6;
    height: 96px;
    width: 190px;
}

.room__arrow-2 {
    width: 36px;
    height: 71px;
    position: absolute;
    display: none;
    background-image: url(../../Content/Images/Equipment/LineDetails/line-details-tesla.png);
}
.room__path-2 {
    position: absolute;
    bottom: 30px;
    left: 23px;
    display: none;
}

.room__text-2 {
    color: white;
    text-align: center;
    padding: 4px;
    background: #858c9a;
    width: 50%;
    margin: 7px auto;
    width: 100px;
    height: 43px;
}

.room-3 {
    z-index: -1;
    padding: 22px;
    position: absolute;
    bottom: 107px;
    right: 327px;
    background: #9fa6b6;
    height: 95px;
    width: 190px;
}

.room__text-3 {
    color: white;
    text-align: center;
    background: #858c9a;
    padding: 4px;
    width: 50%;
    margin: 7px auto;
    width: 100px;
    height: 43px;
}
.room__path-3 {
    position: absolute;
    bottom: 30px;
    left: 23px;
    display: none;
}
.room__arrow-3 {
    width: 125px;
    height: 112px;
    position: absolute;
    display: none;
    background-image: url(../../Content/Images/Equipment/LineDetails/line-details-newton.png);
}


.room-4 {
    z-index: -1;
    padding: 28px;
    position: absolute;
    bottom: 245px;
    right: 610px;
    background: #9fa6b6;
    height: 103px;
    width: 231px;
}

.room__text-4 {
    color: white;
    text-align: center;
    background: #858c9a;
    padding: 3px;
    width: 50%;
    margin: 0 auto;
    width: 60px;
    height: 41px;
}

.room__arrow-4 {
    width: 148px;
    height: 218px;
    position: absolute;
    display: none;
    background-image: url(../../Content/Images/Equipment/LineDetails/line-details-hr.png);
}

.room__path-4 {
    position: absolute;
    bottom: 30px;
    left: 23px;
    display: none;
}

.room-5 {
    z-index: -1;
    padding: 27px 15px;
    position: absolute;
    bottom: 246px;
    right: 335px;
    background: #9fa6b6;
    height: 99px;
    width: 86px;
}

.room__text-5 {
    color: white;
    text-align: center;
    background: #858c9a;
    padding: 3px;
    width: 50%;
    margin: 0 auto;
    width: 55px;
    height: 43px;
}
.room__arrow-5 {
    width: 239px;
    height: 204px;
    position: absolute;
    display: none;
    right: 34px;
    bottom: -188px;
    background-image: url(../../Content/Images/Equipment/LineDetails/line-details-info.png);
}


.room__path-5 {
    position: absolute;
    bottom: 30px;
    left: 23px;
    display: none;
}

.room-6 {
    z-index: -1;
    padding: 17px 6px;
    position: absolute;
    bottom: 251px;
    right: 235px;
    background: #9fa6b6;
    height: 92px;
    width: 97px;
}

.room__text-6 {
    color: white;
    text-align: center;
    background: #858c9a;
    padding: 3px;
    width: 50%;
    margin: 7px auto;
    width: 80px;
    height: 43px;
}

.room__arrow-6 {
    width: 325px;
    height: 211px;
    position: absolute;
    right: 45px;
    bottom: -190px;
    display: none;
    background-image: url(../../Content/Images/Equipment/LineDetails/line-details-web-1.png);
}
.room__path-6 {
    position: absolute;
    bottom: 30px;
    left: 23px;
    display: none;
}


.room-7 {
    z-index: -1;
    padding: 25px 6px;
    position: absolute;
    bottom: 248px;
    right: 141px;
    background: #9fa6b6;
    height: 97px;
    width: 91px;
}
.room__text-7 {
    color: white;
    text-align: center;
    padding: 3px;
    background: #858c9a;
    width: 50%;
    margin: 0 auto;
    width: 80px;
    height: 43px;
}

.room__arrow-7 {
    width: 440px;
    height: 209px;
    position: absolute;
    right: 35px;
    bottom: -190px;
    display: none;
    background-image: url(../../Content/Images/Equipment/LineDetails/line-details-web-2.png);
}

.room__path-7 {
    position: absolute;
    bottom: 30px;
    left: 23px;
    display: none;
}

.room-8 {
    z-index: -1;
    padding: 25px 6px;
    position: absolute;
    bottom: 246px;
    right: 48px;
    background: #9fa6b6;
    height: 98px;
    width: 91px;
}
.room__text-8 {
    color: white;
    text-align: center;
    padding: 3px;
    background: #858c9a;
    width: 50%;
    margin: 0 auto;
    width: 80px;
    height: 43px;
}
.room__arrow-8 {
    width: 530px;
    height: 212px;
    position: absolute;
    right: 40px;
    bottom: -190px;
    display: none;
    background-image: url(../../Content/Images/Equipment/LineDetails/line-details-web-3.png);
}

.room__path-8 {
    position: absolute;
    bottom: 30px;
    left: 23px;
    display: none;
}

.room-9 {
    z-index: -1;
    position: absolute;
    bottom: 202px;
    right: 8px;
    background: #9fa6b6;
    height: 141px;
    width: 40px;
}

.room__text-9 {
    z-index: 2;
    margin-left: 10px;
    position: absolute;
    bottom: 60px;
    right: -35px;
    transform: rotate(90deg);
    padding: 2px;
    color: white;
    text-align: center;
    background: #858c9a;
    width: 50%;
    margin: 0 3px;
    width: 100px;
    height: 20px;
}

.room__arrow-9 {
    width: 599px;
    height: 167px;
    position: absolute;
    right: 10px;
    top: 125px;
    display: none;
    background-image: url(../../Content/Images/Equipment/LineDetails/line-details-english.png);
}

.room__path-9 {
    position: absolute;
    bottom: 30px;
    left: 23px;
    display: none;
}

.room__general:hover > .room__arrow{
    display: none;
}
.room-change .room__general:hover > .room__arrow{
    display: none;
}

.active-room > .room__arrow {
    display: block;
}
.room-change .room__general.active-room:hover > .room__arrow{
    display: block;
}