.room {
    margin-top: 7px;
    position: relative;
    background: #ebeef7;
    height: 520px;
    width : 1520px
}
.room__image {
    padding-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.room_tesla {
    padding: 22px;
    position: absolute;
    bottom: 135px;
    right: 773px;
    background: #f95752;
    opacity: 0.8;
    height: 87px;
    width: 190px;
}
.room_teslatext {
    font-family: Times New Roman;
    font-size: 13pt;
    color: white;
    text-align: center;
    border-radius: 21%;
    background: #e74845;
    width: 50%;
    margin: 0 auto;
    width: 100px;
    height: 43px;
}

.room_hr {
    padding: 28px;
    position: absolute;
    bottom: 271px;
    right: 860px;
    background: #d7d9de;
    opacity: 0.8;
    height: 100px;
    width: 223px;
}

.room_hrtext {
    font-family: Times New Roman;
    font-size: 13pt;
    color: white;
    text-align: center;
    border-radius: 21%;
    background: #acb0b6;
    width: 50%;
    margin: 0 auto;
    width: 60px;
    height: 40px;
}

.room_einstein {
    padding: 30px;
    position: absolute;
    bottom: 271px;
    right: 673px;
    background: #d7d9de;
    opacity: 0.8;
    height: 100px;
    width: 185px;
}
.room_einsteintext {
    font-family: Times New Roman;
    font-size: 13pt;
    color: white;
    text-align: center;
    border-radius: 21%;
    background: #acb0b6;
    width: 50%;
    margin: 0 auto;
    width: 100px;
    height: 43px;
}

.room_info {
    padding: 30px 15px;
    position: absolute;
    bottom: 271px;
    right: 587px;
    background: #d7d9de;
    opacity: 0.8;
    height: 100px;
    width: 84px;
}

.room_infotext {
    font-family: Times New Roman;
    font-size: 13pt;
    color: white;
    text-align: center;
    border-radius: 21%;
    background: #acb0b6;
    width: 50%;
    margin: 0 auto;
    width: 55px;
    height: 43px;
}

.room_web1 {
    padding: 25px 6px;
    position: absolute;
    bottom: 281px;
    right: 488px;
    background: #d7d9de;
    opacity: 0.8;
    height: 90px;
    width: 95px;
}

.room_webtext {
    font-family: Times New Roman;
    font-size: 13pt;
    color: white;
    text-align: center;
    border-radius: 21%;
    background: #acb0b6;
    width: 50%;
    margin: 0 auto;
    width: 80px;
    height: 43px;
}

.room_web2 {
    padding: 25px 6px;
    position: absolute;
    bottom: 271px;
    right: 394px;
    background: #d7d9de;
    opacity: 0.8;
    height: 100px;
    width: 91px;
}

.room_web3 {
    padding: 25px 6px;
    position: absolute;
    bottom: 271px;
    right: 300px;
    background: #d7d9de;
    opacity: 0.8;
    height: 100px;
    width: 93px;
}

.room_english {
    position: absolute;
    bottom: 229px;
    right: 260px;
    background: #d7d9de;
    opacity: 0.8;
    height: 140px;
    width: 40px;
}
.room_englishtext {
    position: absolute;
    bottom: 287px;
    right: 230px;
    transform: rotate(90deg);
    font-family: Times New Roman;
    font-size: 13pt;
    color: white;
    text-align: center;
    border-radius: 21%;
    background: #acb0b6;
    width: 50%;
    margin: 0 auto;
    width: 100px;
    height: 20px;
}

.room_newton {
    padding: 22px;
    position: absolute;
    bottom: 135px;
    right: 581px;
    background: #d7d9de;
    opacity: 0.8;
    height: 87px;
    width: 190px;
}

.room_newtontext {
    font-family: Times New Roman;
    font-size: 13pt;
    color: white;
    text-align: center;
    border-radius: 21%;
    background: #acb0b6;
    width: 50%;
    margin: 0 auto;
    width: 100px;
    height: 43px;
}


