    .user-list {
        width: 725px;
    }

    .user-list {
        padding-left: 120px;
        padding-right: calc(100% - 120px - 725px);
        width: 100%;
    }
     .user-list__line-header {
        line-height: 40px;
        height: 40px;
    }

    .user-list__search {
        float: right;
        width: 220px;
    }

    .link {
        text-decoration: none;
    }
    .user-list__link {
        color: #4a5158;
    }
    .user-list__line {
        /*height: 45px;*/
    }
    .table {
        border: none;
        border-collapse: collapse;
    }
    .table__row {
        border: none;
    }
    .table-cell {
        border: none;
        margin: 0;
        position: relative;
        left: -1px;
    }

    .user-list__total-users-num {
        width: 200px;
        float: left;
    }

    .user-list__table {
        table-layout:fixed;
        margin-top: 25px;
    }

    .user-list__row {
        /*width: 715px;*/
        height: 45px;
    }
    .user-list__row:hover {
        position: relative;
        background-color: #ebeef7;
        cursor: pointer;
    }
    .user-list__delete-row {
        position: absolute;
        top: 10px;
        right: 35px;
        visibility: hidden;
        font-size: 25px;
        color: #4a5158;
        cursor: pointer;
    }
    .user-list__row:hover .user-list__delete-row {
        visibility: visible;
    }
    .user-list__name {
        width: 240px;
    }
    .user-list__email {
        width: 280px;
    }
    .user-list__events-num {
        position: relative;
        width: 200px;
    }
    .user-list__pagination {
        float: right;
        margin-top: 45px;
    }
    

    .content__title {
        padding-left: 0;
    }

    .content__line {
        width: 100%;
    }

    .table__row:hover {
        background-color: #ebeef7;
    }

    .search__input {
        height: 40px;
        padding: 5px 10px 5px 10px;
        border: 1px solid #ebeef7;
        border-radius: 20px;
        color: #c0c4cf;
        outline: none;
    }

    .search__image {
        position: relative;
        right: 30px;
        top: 1px;
        color: #c0c4cf;
    }
    .pagination__element {
        margin-right: 5px;
    }
    .admin-elipse {
        position: relative;
        display: inline-block;
        top: -2px;
        left: 5px;
        width: 54px;
        height: 20px;
        padding-top: 2px;
        border-radius: 20px;
        background-color: #f95752;
        color: white;
        font-size: 11px;
        text-align: center;
    }
