.container {
    font-family: Arial;
    font-size: 14px;
}

.users-container {
    position: relative;
    width: 60%;
    margin-left: 10%;
    margin-top: 3%;
}

.users-container__title {
    font-size: 26px;
    cursor: default;
}

.users-container__subtitle {
    margin: 15px 0;
    margin-left: 20px;
}

.subtitle-users-num {
    margin-bottom: 35px;
}

.subtitle-search {
    position: absolute;
    width: 100%;
    z-index: 100;
    top: 40px;
}

.users-container-table {
    width: 100%;
    margin: 15px 0;
    margin-top: 40px;
}

.users-container__total-users-num {
    margin: auto;
    margin-left: 20px;
}

.users-num {
    cursor: default;
}

.user-container__search-container {
    width: 300px;
    z-index: 100;
    margin: auto;
    margin-right: 0;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ebeef7;
    height: 40px;
    -ms-border-radius: 15px;
    border-radius: 15px;
}

.search__input {
    margin: auto;
    margin-right: 0;
    width: 85%;
    height: 30px;
    border: none;
    color: #c0c4cf;
    outline: none;
}

.search__image {
    margin: auto;
    margin-right: 10px;
    color: #c0c4cf;
    cursor: pointer;
}

.search__image:hover {
    color: #4A5158;
}

.users-table {
    width: 100%;
    border: none;
    border-collapse: collapse;
}

.users-table__row {
    height: 45px;
    border: none;
}

.users-table__name {
    width: 35%;
}

.user-label {
    margin-left: 20px;
    cursor: default;
}

.users-table__email {
    width: 35%;
}

.users-table__events-num {
    width: 20%;
}

.users-table__delete-sign {
    width: 10%;
}

.events-num {
    margin: 0 5px;
}

.users-table__row:hover {
    background-color: #EBEEF7;
    cursor: pointer;
}

.users-table__row:hover .delete-sign {
    visibility: visible;
}

.delete-sign {
    visibility: hidden;
    font-size: 25px;
    color: #4A5158;
    cursor: pointer;
}

.delete-sign:hover {
    font-size: 30px;
}

.users-pagination {
    float: right;
    margin-top: 45px;
}

.admin-label {
    display: inline-block;
    width: 60px;
    height: 22px;
    vertical-align: top;
    text-align: center;
    padding: 2px;
    border: none;
    -ms-border-radius: 15px;
    border-radius: 15px;
    background: #F15754;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 14px;
}
