.group-input-error {
    display: inline-block;
    margin-left: 5px;
}

.error-box {
    display: inline-flex;
    margin: 0 5px;
    vertical-align: bottom;
}

.error-box__signal {
    color: red;
    margin-right: 10px;
}

.error-box__signal-big {
    font-size: 25px !important;
}

.hidden {
    display: none;
    visibility: hidden !important;
}

.error-box__text-danger {
    font-size: 11px;
    font-family: Arial;
    color: #656d7f;
}
.error-box__text-centered {
    align-self: center;
}