.week__scheduler {
    position: relative;
}

#calendar{
    display: none;
    margin: 10px auto;
    width: 920px;
    color: #697184;
    font-family: Arial;
}

.calendar-col{
    display: inline-block;
    width: 120px;
    border: 1px solid #ebeef7;
}

.calendar-col-active{
    display: inline-block;
    width: 120px;
    border: 3px solid #c5cad6;
}

.calendar-col-weekend{
    display: inline-block;
    border: 1px solid #ebeef7;
    background-color: #ebeef7; 
    width : 71px;
}
.calendar-items-weekend{
    position:relative;
    height : 528px;
    background-color: #ebeef7;
    width : 70px;
}

.calendar-item{
    position: relative;
    height: 48px;
    border-top : 1px solid #ebeef7;
    border-bottom: 1px solid #ebeef7;
}

.time{
    position: absolute;
    top: 2px;
    right: 2px;
}

.event-info{
    z-index :5;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    background: #f95752;
    cursor: pointer;
}

.event-private{
    z-index :5;
    position: absolute;
    width: 100%;
    height: 100%;
    color: black;
    background: #c5cad6;
}

.event-private:before {
    z-index: 6;
    content: "\f023"; 
    font-family: FontAwesome;
    text-decoration: inherit;
    text-align: center;
    line-height: 50px;
    font-size: 36px;
    color: white;
    left: 45px; 
    position:absolute; 
    top:0; 
}
.item-head{
    margin : 3px 10px;
}
.item-head-weekend{
   margin : 3px 10px;
}
.item-day{
    display: inline-block;
    float : right;
    color: #d8dbe4;
}
.time{
    margin : 3px 3px;
    color: #d8dbe4;
    font-size: 12px;
}
.event-time {
    font-size: 12px;
    position: absolute;
    z-index: 7;
    top: 2px;
    right: 5px
}
.event-title {
    font-size: 12px;
    position: absolute;
    z-index: 7;
    top: 16px;
    left: 5px
}

.cursor{
    position:absolute;
    z-index: 6;
    background-color:gray;
    width:116px;
    height:3px;
}

.cursor__left-arrow{
    position:absolute;
    top: -11px;
    left: -7px;
}

.cursor__right-arrow{
    position:absolute;
    top: -11px;
    right: -7px;
}

.scheduler__header {
    width: 910px;
    height: 35px;
    font-size: 34px;
}
.calendar-item {
    position: relative;
}
.calendar-item:not(.not-empty):hover:after{
    content: "\f067"; 
    font-family: FontAwesome;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    font-size: 36px;
    color: #feebea;
    width: 100%;
    height: 100%;
    background-color: #fdbcba;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}



