
@{
    ViewBag.Title = "Http404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img class="error-image" src="~/Content/Images/Icons/sad.png" />
<h2 class="error-header error-header-h2">404 - not found</h2>

@Styles.Render("~/bundles/Styles/errors");

