@Styles.Render("~/Content/Styles/calendar")

<style>
    .clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
    </style>
<div class="calendars">
    <div class="calendars__day calendar-events" style="width: 1024px;"></div>
    <div class="calendars__month" style="width: 350px; display:block">
        <div id="datepicker"></div>
    </div>
</div>

@Scripts.Render("~/bundles/calendar")
