@Styles.Render("~/Content/Styles/calendar")

<style>
    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }
    .clearfix:after {
        clear: both;
    }

    .calendar-events__loading-glass {
        top: -2px;
    }
    .loading-glass {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(100, 100, 100, 0.03);
        pointer-events: none;
    }
    .loading-glass__loader {
        position: relative;
        top: 50%;
        left: 50%;
    }
@@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
</style>
<div class="calendars">
    <div class="calendars__day calendar-events" style="width: 1024px;"></div>
    <div class="calendars__month" style="width: 350px; display:block">
        <div id="datepicker"></div>
    </div>
</div>

@Scripts.Render("~/bundles/calendar")
