@Styles.Render("~/bundles/Styles/calendar")

<div class="calendar-container">
    <div class="calendars">
        <div class="calendars__day calendar-events" style="width: 1024px;"></div>
        <div class="calendars__month" style="width: 350px; display:block">
            <div id="datepicker"></div>
        </div>
    </div>    
</div>

<div id="popup-edit-event"></div> 
<div id="calendar__popup-edit-event"></div> 
<div id="confirmation_popup"></div> 

@Scripts.Render("~/bundles/calendar")
<script>
    $(document).on('click', '.eventdetailedit-close', function () {
        $('.eventdetailedit').remove();
    });


    //close private info popup
    $(document).on('click', '.eventdetailedit-close', function () {
        $('.eventdetail').remove();
    });
</script>
