<div class="eventdetailedit">
    <div class="eventdetailedit__title">
        <div style="height:50%">
            <span style="color : white; margin: 3px 10px; font-size: 9pt;"> Пт, 18 Мая</span>
            <i class="fa fa-window-minimize" aria-hidden="true" style="color: #eeeeee; float: right"></i>
            <input class="eventdetailedit-change" type="submit" value="Изменить" />
            <input class="eventdetailedit-cancel" type="submit" value="Отменить" /> 
        </div>
        <div>
            <span style="color : white; margin: 5px 10px; font-size: 9pt;">12:10 - 12:30</span>
        </div>
    </div>
    <div class="eventdetailedit__main">
        <p style="font-size: 20px; margin: 10px 10px">English class</p>
        <p style="margin: 10px 10px">Modern English has little inflection compared with many other languages, and relies more on auxiliary verbs and word order for the expression of complex tenses </p>
        <div style="margin:10px 10px">
            <i class="fa fa-user" aria-hidden="true" style="font-size: 25px; float: left"></i>
            <span>Nataly</span>
            <i class="fa fa-users" aria-hidden="true" style="font-size: 25px; float: right"></i>
            <span>11</span>
        </div>
    </div>
</div>
