<div class="eventdetail">
    <div class="eventdetail__title">
        <div style="height:50%">
            <span style="color : white; margin: 3px 10px; font-size: 9pt;"> Пт, 18 Мая</span>
            <i class="fa fa-window-minimize" aria-hidden="true" style="color: #eeeeee; float: right"></i>
        </div>
        <div>
            <span style="color : white; margin: 5px 10px; font-size: 9pt;">12:10 - 12:30</span>
        </div>
    </div>
    <div class="eventdetail__main">
        <span style="margin: 10px 10px">Митинг Андроид Команды</span>
        <div class="eventdetail__icons">
            <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <i class="fa fa-print" aria-hidden="true"></i>
            <i class="fa fa-link" aria-hidden="true"></i>
        </div>   
    </div>
</div>
