@model SofthemeRoomBooking.Models.CancelPopupViewModel

<div class="confirmation">
    <div class="confirmation__title">
        <i class="fa fa-ban confirmation__sign" aria-hidden="true"></i>
        <span class="confirmation__question">Вы уверенны, что хотите отменить событие?</span>
    </div>
    <div class="confirmation__body">
        <div class="confirmation-message">
            <span></span>
        </div>
        <div style="padding-bottom: 60px">
            <button id="cancelButton" class="button button-cancel">Нет</button>
            <button data-id="@Model.Id" id="okButton" class="button button-ok " type="submit">Да</button>
        </div>
    </div>
</div>

<script>
    $(document).on('click', '#cancelButton', function () {
        $('.confirmation').remove();
    });
    var id = $('#okButton').data('id');
    $(document).on('click', '#okButton', function () {
        $.ajax({
            url: window.location.origin + "/Event/CancelEvent",
            type: "POST",
            data: 'id=' + id,
            success: function (data) {
                window.location = window.location.origin + "/Home/Index";
            }
        });
    });
   
</script>
