@model SofthemeRoomBooking.Models.CancelPopupViewModel

<div class="confirmation">
    <div class="confirmation__title">
        <i class="fa fa-ban confirmation__sign" aria-hidden="true"></i>
        <span class="confirmation__message">Вы уверенны, что хотите отменить событие?</span>
    </div>
    <div class="confirmation__body">
        <span></span>
        <button id="cancelButton" style="margin-left: 50px;" class="button confirmation__button button-cancel" style="margin-right: 36px;">Нет</button>
        <button data-id="@Model.Id" id="okButton" style="margin-right: 50px;" class="button button-ok" type="submit">Да</button>
    </div>
</div>

<script>
    $(document).on('click', '#cancelButton', function () {
        $('.confirmation').remove();
    });
    var id = $('#okButton').data('id');
    $(document).on('click', '#okButton', function () {
        $.ajax({
            url: window.location.origin + "/Event/CancelEvent",
            type: "POST",
            data: 'id=' + id,
            success: function (data) {
                window.location = window.location.origin + "/Home/Index";
            }
        });
    });
   
</script>
