@model SofthemeRoomBooking.Models.ConfirmationViewModel

@{
    Layout = null;
}

<div class="confirmation">
    <div class="confirmation__title">
        <i class="fa fa-ban confirmation__sign" aria-hidden="true"></i>
        <span class="confirmation__question">@Model.Question</span>
    </div>
    <div class="confirmation__body">
        <div class="confirmation-message">
            <span>@Model.Message</span>
        </div>
        <div class="confirmation-buttons">
            <button id="cancelButton" class="button button-cancel">Нет</button>

            @using (Html.BeginForm(Model.Action, Model.Controller, FormMethod.Post, new { @class = "button-ok" }))
            {
                @Html.Hidden("id", Model.DataId)
                <button id="okButton" class="button" type="submit">Да</button>
            }
        </div>
    </div>
</div>

<script>
    $('#cancelButton').bind('click', function () {
        $('#popup-confirmation').html('');
        $('#popup-confirmation').hide();
    });

    $('#cancelButton').bind('click', function () {
        $('#confirmation_popup').html('');
        $('#confirmation_popup').hide();
    });
</script>
