    <div class="equipmentuser__table-main">
        <a class="equipmentuser__table" style="margin-right: 0"></a>
        <a class="equipmentuser__tablenumber" style="margin-left: 0"></a>
    </div>
    <a class="equipmentuser__board"></a>
    <a class="equipmentuser__laptop"></a>
    <a class="equipmentuser__print"></a>
    <a class="equipmentuser__proect"></a>
