    <div class="equipmentuser-main equipmentuser__table-main">
    <a class="equipmentuser__table" style="margin-right: 0"></a>
    <a class="equipmentuser__tablenumber" style="margin-left: 0"></a>
    </div>
    <div class="equipmentuser-main equipmentuser__board-main">
        <a class="equipmentuser__board" style="margin-right: 0"></a>
        <a class="equipmentuser__boardnumber" style="margin-left: 0"></a>
    </div>
    <div class="equipmentuser-main equipmentuser__laptop-main">
        <a class="equipmentuser__laptop" style="margin-right: 0"></a>
        <a class="equipmentuser__laptopnumber" style="margin-left: 0"></a>
    </div>
    <div class="equipmentuser-main equipmentuser__print-main">
        <a class="equipmentuser__print" style="margin-right: 0"></a>
        <a class="equipmentuser__printnumber" style="margin-left: 0"></a>
    </div>
    <div class="equipmentuser-main equipmentuser__proect-main">
        <a class="equipmentuser__proect" style="margin-right: 0"></a>
        <a class="equipmentuser__proectnumber" style="margin-left: 0"></a>
    </div>

