<div class="equipmentadmin_top">
    <p style="float: left">Название: <input type="text" class="equipmentadmin-inputname"></p>
     <input class="equipmentadmin-cancel" type="submit" value="Отменить" />
     <input class="equipmentadmin-submit" type="submit" value="Сохранить" /> 
   
</div>
<div class="equipmentadmin_down">
    <a class="equipmentuser__table" style="margin-right: 0"></a>
    <input type="text" class="equipmentadmin-input">
    <a class="equipmentuser__board"></a>
    <input type="text" class="equipmentadmin-input">
    <a class="equipmentuser__laptop"></a>
    <input type="text" class="equipmentadmin-input">
    <a class="equipmentuser__print"></a>
    <input type="text" class="equipmentadmin-input">
    <a class="equipmentuser__proect"></a>
    <input type="text" class="equipmentadmin-input">
</div>   