<div class="roombooking">
    <div class="roombooking__title" style="margin:0">
        <i class="fa fa-calendar-o" aria-hidden="true" style="color: white; font-size: 2em;"></i>
        <span style="color : white; margin-left: 10px; font-size: 16pt;">Зарезервировать аудиторию</span>
        <i class="fa fa-times" aria-hidden="true" style="color: #eeeeee; font-size: 2em; float: right"></i>
    </div>
    <div>Когда</div>
    <div>
        Где 
    <select class="roombooking__dropdown">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
        </select>
    </div>
    <div>
        <input type="text" class="input-text roombooking__input-title" placeholder = "Заголовок">
    </div>
    
    <div>
        <textarea type="text" class="input-textarea roombooking__input-addinfo" placeholder="Дополнительная информация"></textarea>
    </div>
    
    <div>
        <input type="checkbox" />
        Регистрация желающих
        Публично
        Приватно
    </div>
    
    <div>
        <input type="checkbox" />
        Показать автора или <input type="text" style = "background: #ffffff;
    border: 1px solid #ebeef7;" class="input-text" placeholder="Указать организатора">
    </div>
    <div style="float: left">
        <input class="roombooking-submit" type="submit" value="Создать" /> 
    </div>
    

</div>
