    <div class="room">
        <img class="room__image" src="~/Content/Images/walls.png" />
        <div class="room_tesla">
            <div class="room_teslatext">
                Tesla Classroom
            </div>
        </div>
        <div class="room_hr">
            <div class="room_hrtext">
                HR office
            </div>
        </div>
        <div class="room_einstein">
            <div class="room_einsteintext">
                Einstein Classroom
            </div>
        </div>
        <div class="room_info">
            <div class="room_infotext">
                Info Центр
            </div>
        </div>
        <div class="room_web1">
            <div class="room_webtext">
                Web & Marketing
            </div>
        </div>
        <div class="room_web2">
            <div class="room_webtext">
                Web & Marketing
            </div>
        </div>
        <div class="room_web3">
            <div class="room_webtext">
                Web & Marketing
            </div>
        </div>
        <div class="room_english">
        </div>
        <div class="room_englishtext">
            English
        </div>
        <div class="room_newton">
            <div class="room_newtontext">
                Newton Classroom
            </div>
        </div>  
    </div>
