
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Login/_Layout.cshtml";
}

<form id="change-password-send-email" action="" class="compl-background__form form">
    <div class="form__label">Смена пароля</div>
    <div class="form__success">
        <p class="form__text">
            На указанный адрес электронной почты
            успешно отправлено письмо с
            инструкцией по смене пароля
        </p>
    </div>
</form>

