
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Login/_Layout.cshtml";
}

<form id="change-password-send-email" action="" class="compl-background__form form">
    <div class="form__label">Регистрация</div>
    <div class="form__success">
        <p class="form__text">
            Регистрация нового пользователя прошла успешно. Пожалуйста ожидайте одобрения администратора сайта.
            На указанный адрес электронной почты будет отправлено пришлашение.
        </p>
    </div>
</form>


