
@{
    ViewBag.Title = "ResetPasswordConfirmation";
    Layout = "~/Views/Login/_Layout.cshtml";
}

<form id="change-password" action="" class="compl-background__form form">
    <div class="form__label">Смена пароля</div>
    <div class="form__success">
        <p class="form__text"> 
            Пароль успешно изменен.
        </p>
    </div>
</form>
